@model Subs.Models.Entity.Request

@{
        ViewBag.Title = "Nánar";
}

<div class="request-info">
    @*------------------Upplýsingar um beiðnina-----------------*@
    <form>
        <fieldset>
            <legend>Nánari upplýsingar</legend>
            <label>Sendandi : </label>  @Html.DisplayFor(modelItem => modelItem.sRequesterUsername) <br />
            <label>Titill : </label>  @Html.DisplayFor(modelItem => modelItem.sTitle) <br />
            <label>Tegund : </label>   @Html.DisplayFor(modelItem => modelItem.sSubType) <br />
            <label>Tungumál frá : </label>   @Html.DisplayFor(modelItem => modelItem.sLanguageFrom) <br />
            <label>Tungumál til : </label>    @Html.DisplayFor(modelItem => modelItem.sLanguageTo) <br />
            <label>Undirtektir : </label>    @Html.DisplayFor(modelItem => modelItem.iUpVote) <br />
            <label>Lýsing : </label>    @Html.DisplayFor(modelItem => modelItem.sRequestDescription) <br />
        </fieldset>
    </form>
    @*---------------------'Comments' á beiðni---------------------*@
    <div>
        <button type="submit">Taka undir</button>
    </div>
    <div>
        @Html.Partial("_Comment", Model.Comment)
    </div>
</div>