@model Subs.Models.ViewModel.RequestViewModel

@{
    ViewBag.Title = "Request Submit";
 }

<!-- Svæði þar sem notandi skráir inn Nafn, tungumál og slóða á mynd. -->
<!-- Byrjum á því að gera brauðslóð (breadcrumb) til að upplýsa notandann hvar hann er staddur á síðunni. -->

 @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <fieldset>
            <legend>Ný Beiðni</legend>
            <div id="request-fieldset">
                <label>Notandi: </label>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.TextBoxFor(model => model.sRequesterUsername, new { @Value = @User.Identity.Name })
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.TextBoxFor(model => model.sRequesterUsername, new { @class = "my" })
                }<br />
                <label>Nafn á mynd: </label>
                @Html.TextBoxFor(model => model.sTitle, new { @class = "my" })<br />
                <label>Þýðing frá: </label>
                @Html.DropDownList("sLanguageTo", new List<SelectListItem>
               {
                    new SelectListItem{Text = "Enska",Value = "Enska"},
                    new SelectListItem{Text = "Íslenska", Value = "Íslenska"}

               }, "Þýðing frá")<br />
                <label>Þýðing til: </label>
                @Html.DropDownList("sLanguageFrom", new List<SelectListItem>
               {
                    new SelectListItem{Text = "Enska",Value = "Enska"},
                    new SelectListItem{Text = "Íslenska", Value = "Íslenska"}

               }, "Þýðing til")<br />
                <label>Kvikmynd/þáttur: </label>
                @Html.DropDownList("sType", new List<SelectListItem>
               {
                    new SelectListItem{Text = "Kvikmynd",Value = "Kvikmynd"},
                    new SelectListItem{Text = "Þáttur", Value = "Þáttur"}

               }, "Gerð")<br />
                <!-- Textarea fyrir nánari lýsingu á skránni. -->
                <label> Nánar</label> <br />
                @Html.TextAreaFor(model => model.sRequestDescription, new { @id = "mytext" })
                <!-- Takkar þar sem notandi getur sent inn skrá (submit) eða hætta við þar sem hann er redirectaður inná forsíðuna. -->
                <div>
                    <input class="m" type="button" @*name="cancel"*@ value="Hætta við">
                    <input class="my" type="submit" @*name="RequestSubmit"*@ value="Senda">
                    @ViewBag.Message
                </div>
            </div>

        </fieldset>
}
