<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
        <div id="head-top">
        <h1> Subs}|⁞ǁ⁞|{Text </h1>
        </div>

    <div id="head">
       
        <div id="nav">
            <ul>
                <li>@Html.ActionLink("Heim", "Index", "Home",null, new { @class = "tab", hidefocus = "hidefocus" })</li>
                <li>@Html.ActionLink("Beiðnir", "RequestSearch", "Home",null, new { @class = "tab" })</li>
                <li>@Html.ActionLink("Um okkur", "About", "Home",null, new { @class = "tab" })</li>
                <li>@Html.ActionLink("Leiðbeiningar", "Instructions", "Home",null, new { @class = "tab" })</li>
            </ul>
        </div>
    </div>
        
    @Html.Partial("_LoginPartial")

    <div id="container" class="container body-content">
        @RenderBody()
    </div>


    <div class="footer-bottom">
        <div class="footer-content">
            <p id="footer-recomend"> Við mælum með <a href="http://www.videolan.org/vlc/index.html">VLC</a></p>
            <p> Við berum ekki ábyrgð á höfundavörðu efni né innihaldi skráa sem deilt er í gegnum síðuna </p>
        </div>
    </div>
          
            
        <footer>
     
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
