<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="head">
        <div id="login-partial">@Html.Partial("_LoginPartial")</div>
        <h1> Subs[/////]Text</h1>
        <div id="head-top">
        </div>
        
            <div id="nav">
                <ul>
                    <li>@Html.ActionLink("Heim", "Index", "Home", new { @class = "tab" })</li>
                    <li>@Html.ActionLink("Beiðni-leit", "RequestSearch", "Home", new { @class = "tab" })</li>
                    <li>@Html.ActionLink("Um okkur", "About", "Home", new { @class = "tab" })</li>
                    <li>@Html.ActionLink("Leiðbeiningar", "Instructions", "Home", new { @class = "tab" })</li>
                </ul>
               
            </div>
    
        </div>

    <div id="container" class="container body-content">
        @RenderBody()
        <footer class="site-footer">
            <div id="footer-left">
                <p>Við mælum með <a href="http://www.videolan.org/vlc/index.html">VLC</a></p>
            </div>      
            <div id="footer-right">
                <p>Með því að nota þessa síðu samþykkir þú þessa skilmála (href)</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
