@model Subs.Models.ViewModel.SubFileViewModel

@{
    ViewBag.Title = "File Info";
}

<div class="file-info">
        <form>
            <fieldset>
                <legend>Nánari upplýsingar</legend>

                        <label>Mynd/Þáttur : </label>  @Html.DisplayFor(modelItem => modelItem.sTitle) <br />
                        <label>Tegund : </label>   @Html.DisplayFor(modelItem => modelItem.sSubLanguage) <br />
                        <label>Tungumál : </label>   @Html.DisplayFor(modelItem => modelItem.sSubType) <br />
                        <label>Flokkur : </label>   @Html.DisplayFor(modelItem => modelItem.sGenre) <br />
                        <label>Lýsing : </label>   @Html.DisplayFor(modelItem => modelItem.sSubDescription) <br />
                    <p id="download">
                        @Html.ActionLink("Sækja skrá", "Filedownload", new { id = Model.SubFileId })
                    </p>
               
            </fieldset>
        </form>
        <div>
            @*@Html.Partial("_Comment", Model.Comment)*@
        </div>
</div>