@model Subs.Models.ViewModel.SubFileViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="file-info">
    <!-- Svæði þar sem notandi skráir inn Nafn, tungumál og slóða á mynd. -->
    <div id="upload">
        <fieldset>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <legend><span id="rs">Senda inn skrá</span></legend>
            
                <label>hvort er skráinn Ensk eða Íslensk þýðing : </label> <br />
                @Html.TextBoxFor(model => model.sSubType, new { @class = "my" }) <br />
                
                <div id="radiob">
                    <label> Gerð :  </label>
                    <label>Bíómynd </label> @Html.RadioButton("sSubType", "Bíómynd")
                    <label>Þáttur </label> @Html.RadioButton("sSubType", "Þáttur")
                </div>
                <div>
                <!-- Textarea fyrir nánari lýsingu á skránni. -->
                <label> Nánar</label> <br />
                 @Html.TextAreaFor(model => model.sSubDescription, new { @id = "mytext" })
                  <!-- Takkar þar sem notandi getur sent inn skrá (submit) eða hætta við þar sem hann er redirectaður inná forsíðuna. -->
                   @Html.LabelFor(x => x.sFilePath)
                  @Html.TextBoxFor(x => x.sFilePath, new { type = "file" })
                  @Html.ValidationMessageFor(x => x.sFilePath)
                   @*<button type="submit">Senda skrá</button>*@
                </div>
                         <input class="m" type="button" name="cancel" value="Hætta við">
                         <input class="my" type="submit" name="submit" value="Senda">
                //Keyrist thegar buid er ad submitta
                @ViewBag.Message
                }
             </fieldset>
        </div>
</div>
