@*@model Subs.Models.Entity.SubFile*@ 
@model Subs.Models.ViewModel.SubFileViewModel


@{
    ViewBag.Title = "Senda - skrá";
}

<div class="upload-file">
    @using (Html.BeginForm())
    {  
        <form>
            <fieldset>
                <legend><span>Senda inn skrá:</span></legend>
                <div id="upload-fields">
                    <label id="upload-file-name">Nafn á mynd :</label>
                    @*@Html.TextBoxFor(model => model.sTitle, new { @class = "my" })*@

 
                    <div id="radiob">
                        <label> Bíómynd </label> @Html.RadioButton("sSubType", "Bíómynd")
                        <label> Þáttur </label> @Html.RadioButton("sSubType", "Þáttur")
                    
                    <!-- Dropdown listi til að velja flokk skráar. -->
                   
                    
                        <select id="search-menu" name="Category">
                            <option value="menu">--Velja flokk--</option>
                            <option value="cartoon">Barnaefni</option>
                            <option value="drama">Drama</option>
                            <option value="comedy">Gaman</option>
                            <option value="thriller">Hrollvekja</option>
                            <option value="action">Spenna</option>
                        </select>
                    </div>
                    <!-- Textarea fyrir nánari lýsingu á skránni. -->
                    <label id="upload-file-text"> Nánar :</label>
                    @*@Html.TextAreaFor(model => model.sSubDescription, new { @id = "mytext" })<br />*@


                    
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            
                                @Html.LabelFor(x => x.sFilePath)
                                @Html.TextBoxFor(x => x.sFilePath, new { type = "file" })
                                @Html.ValidationMessageFor(x => x.sFilePath)
                            
                            <button type="submit" id="upload-file-send" >Upload File</button>
                        }
                    
                    <div>
                        <input id="upload-file-quit" type="button" name="cancel" value="Hætta við">
                    </div>
                </div>
        </fieldset>
    </form>
    }
    </div>
