@model  Subs.Models.Entity.SubFile


@{
    ViewBag.Title = "File Info";
}

<div class="file-info">

    <div class="box-border">
        <form>
            <fieldset>
                <legend>Nánari upplýsingar</legend>


                @*<ul class="list-group" style="max-width: 560px;">*@
                  

                       
                           
                              
                                   
                                        @Html.DisplayFor(modelItem => modelItem.sTitle)
                                    
                                        @Html.DisplayFor(modelItem => modelItem.sSubType)
                                   
                                        @Html.DisplayFor(modelItem => modelItem.sSubLanguage)
                                  
                             
                           
                          
                                @*<span class="glyphicon glyphicon-user"></span>*@
                                @*<span class="text-primary"> @Html.DisplayFor(modelItem => modelItem.sTitle) </span>
                                <span> @Html.DisplayFor(modelItem => modelItem.sGenre) </span>*@
                                
                           
                                @*<span class="text-muted">@item.CommentDate.ToString("dd. MMMM HH:mm") - </span>*@
                                <a class="like-comment" href="#">Like </a>
                           
                            <!--<ul class="list-unstyled">
                    <li>Patrekur liked this</li>
                    <li>Siggi liked this</li>
                </ul>-->
                       
                    
                    @*<li class="list-group-item">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <label class="sr-only" for="CommentText">Comment</label>
                <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            @Html.ValidationSummary(false)
        }
    </li>*@
                @*</ul>*@




                <!------------setja inn stuff hérna!    -->
                @*@foreach (var item in Model)
                { 
                            @Html.DisplayFor(modelItem => item.sTitle) <br/>
                       
                            @Html.DisplayFor(modelItem => item.sSubType) <br/>
                        
                            @Html.DisplayFor(modelItem => item.sSubLanguage) <br/>
                }*@

            </fieldset>
        </form>
    </div>
</div>