@model  Subs.Models.Entity.SubFile


@{
    ViewBag.Title = "File Info";
}

<div class="file-info">

    <div class="box-border">



        <label>Mynd/Þáttur : </label>    @Html.DisplayFor(modelItem => modelItem.sTitle) <br />
        <label>Tegund : </label>   @Html.DisplayFor(modelItem => modelItem.sSubLanguage) <br />
        <label>Tungumál : </label>   @Html.DisplayFor(modelItem => modelItem.sSubType) <br />
        <label>Flokkur : </label>   @Html.DisplayFor(modelItem => modelItem.sGenre) <br />
        <label>Dagsetning : </label>   @Html.DisplayFor(modelItem => modelItem.dSubDate) <br />
        <label>Upplýsingar : </label>   @Html.DisplayFor(modelItem => modelItem.sPicture) <br />
        <label>Lýsing : </label>   @Html.DisplayFor(modelItem => modelItem.sSubDescription) <br />
        <label>upvotað : </label>   @Html.DisplayFor(modelItem => modelItem.iUpVote) <br />
    </div>
</div>
