@model  Subs.Models.Entity.SubFile


@{
    ViewBag.Title = "File Info";
}

<div class="file-info">

    <div class="box-border">
        <form>
            <fieldset>
                <legend>Nánari upplýsingar</legend>


                @*<ul class="list-group" style="max-width: 560px;">*@
                  
                                             
                       
                           
                <div class="box-border">


                    <label>Mynd/Þáttur : </label>  @Html.DisplayFor(modelItem => modelItem.sTitle) <br />

                    <label>Tegund : </label>   @Html.DisplayFor(modelItem => modelItem.sSubLanguage) <br />
                    <label>Tungumál : </label>   @Html.DisplayFor(modelItem => modelItem.sSubType) <br />
                    <label>Flokkur : </label>   @Html.DisplayFor(modelItem => modelItem.sGenre) <br />
                    <label>Dagsetning : </label>   @Html.DisplayFor(modelItem => modelItem.dSubDate) <br />
                    <label>Upplýsingar : </label>   @Html.DisplayFor(modelItem => modelItem.sPicture) <br />
                    <label>Lýsing : </label>   @Html.DisplayFor(modelItem => modelItem.sSubDescription) <br />
                    <label>upvotað : </label>   @Html.DisplayFor(modelItem => modelItem.iUpVote) <br />
                    <input type="submit" name="Like"/>
                </div>
                                   
                                        
                                    
                                        
                                   
                                        
                                  
                             
                           
                          
                                @*<span class="glyphicon glyphicon-user"></span>*@
                                @*<span class="text-primary"> @Html.DisplayFor(modelItem => modelItem.sTitle) </span>
                                <span> @Html.DisplayFor(modelItem => modelItem.sGenre) </span>*@
                                
                           
                                @*<span class="text-muted">@item.CommentDate.ToString("dd. MMMM HH:mm") - </span>*@
                                <a class="like-comment" href="#">Like </a>
                           
                            <!--<ul class="list-unstyled">
                    <li>Patrekur liked this</li>
                    <li>Siggi liked this</li>
                </ul>-->
                       
                    
                    @*<li class="list-group-item">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <label class="sr-only" for="CommentText">Comment</label>
                <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            @Html.ValidationSummary(false)
        }
    </li>*@
                @*</ul>*@




                <!------------setja inn stuff hérna!    -->
                @*@foreach (var item in Model)
                { 
                            @Html.DisplayFor(modelItem => item.sTitle) <br/>
                       
                            @Html.DisplayFor(modelItem => item.sSubType) <br/>
                        
                            @Html.DisplayFor(modelItem => item.sSubLanguage) <br/>
                }*@

            </fieldset>
        </form>
    </div>
</div>